# --- Entornos Virtuales ---
.venv/
venv/
env/
ENV/
bin/
lib/
include/

# --- Django ---
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/
*.log

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Variables de Entorno (¡CRÍTICO!) ---
.env
.flaskenv
*.env

# --- Testing / Cobertura ---
htmlcov/
.tox/
.nosetests
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# --- IDEs y Editores ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db