# Django 5.2 es la versión LTS (Soporte Largo hasta 2028)
Django>=5.2,<5.3

# Formularios con Bootstrap 5 (Versiones compatibles con Django 5+)
django-crispy-forms>=2.3
crispy-bootstrap5>=2024.10

# Manejo de variables de entorno (.env)
python-decouple>=3.8

# Manejo de imágenes (Versión con binarios pre-compilados para evitar errores)
Pillow>=10.4.0